/*
 * CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,

h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html,body { 
    overflow:hidden;
	height: 100%;
}

.menu_panel {
	float: left;
	height: 95%;
	width: 20%;
	
}
.header{
 position:relative;
 height:10%;
width: 100%;
 
}
.menu{
 position:inline;
 height:90%;
width: 100%; 
 background-color: #C0C0C0;
}
.callendar_panel{
	float: left;
	height: 95%;
    display:inline-block;
	width: 60%;
	

}
.info_panel{
	float: left;
	height: 95%;
	width: 20%;
	top:10%;


}
.footer_panel {
	background-color:red;
	width: 100%;
	min-height:20px;
}

.calbox
{
 position:relative;
 width:22%;
 height:7%;
padding-left:1%;
padding-top:1%;
border:2px solid #00FF00;
 background-color:#C0C0C0;
}
